<!DOCTYPE html>
<html>
  <head>
    <title>ShellTasker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container">
    <h1 align="center">Shell Tasker</h1>
    <div class="row">
    <% if current_user %>
          <div class="two columns u-pull-left">
            <%= current_user.name %>
          </div>

          <div class="two columns u-pull-right">
            <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
          </div>
          </div>
          <div class="row">
            <% current_user.lists.each do |list| %>
                <div class="four columns">
                  <%= link_to list.name, list %>
                </div>

            <% end %>

    <% else %>
          <div class="two columns u-pull-left">
            <%= link_to 'Log in', new_user_session_path%>
          </div>
          <div class="two columns u-pull-right">
            <%= link_to 'Register', new_user_registration_path %>
          </div>
    <% end %>
    </div>
    <div class="row">
        <div class="column main-column">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
